@import 'variables.scss';
@import 'header/header.scss';
@import 'listings/listings.scss';
@import 'listings/listing.scss';
@import 'form/form.scss'

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
