@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'profile/profile.scss';
@import 'form/form.scss';

@import 'bookings/booking.scss';
// @import 'listings/rental-card.scss';
@import 'listings/listing.scss';
@import 'listings/listings.scss';
@import 'listings/listing-manage.scss';
@import 'editable/editable-component.scss';
@import 'payment/payment.scss';

*:focus {outline:none}

*.btn {
  &:hover {
    cursor: pointer;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-bwm {
  background-color: $main-color !important;
  border-color: $main-color !important;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.btn-outline-danger {
  border: 1px solid $secondary-color !important;
  color: $secondary-color !important;
  opacity: 1 !important;
}

.btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited {
    background-color: $secondary-color !important;
    color: $main-white-color !important;
    opacity: 1 !important;
}  // }

.btn-outline-success {
  border: 1px solid $main-color !important;
  color: $main-color !important;
  opacity: 1 !important;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: $main-color !important;
    color: $main-white-color !important;
    opacity: 1 !important;
}  // }

.btn-danger {
  border: 1px solid $secondary-color !important;
  color: $main-white-color !important;
  opacity: 1 !important;
}

.btn-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited {
    background-color: $secondary-color !important;
    color: $main-white-color !important;
    opacity: 1 !important;
}  // }

.btn-success {
  border: 1px solid $main-color !important;
  background-color: $main-color !important;
  color: $main-white-color !important;
  opacity: 1 !important;
}

.btn-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: $main-color !important;
    color: $main-white-color !important;
    opacity: 1 !important;
}  // }


.alert {
  margin-top: 10px !important;
}
.alert-danger {
  border-left: solid 3px darkred !important;
}
.alert-success {
  border-left: solid 3px darkgreen !important;
}
