.rtv-form {
  color: $main-text-color-gray;

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}

.rtv-res-errors {
  margin: 10px 0;

  p {
    margin-bottom: 5px;
  }
}

.btn-outline-success {
  border: 1px solid $main-color !important;
  color: $main-color !important;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: $main-color !important;
    color: $main-white-color !important;
}  // }
